body {
  background: #4cb5d3;
  padding: 0 50px;
}

.btn-blue {
  background: #4cb5d3;
}

.home-one {
  text-align: right;
  line-height: 50px;
  padding: 270px 0;
}

h1 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  padding-left: 340px;
}

.home-two h3 {
  margin-top: -65px;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 5px 5px #4cb5d3;
}

.pdfs,
.events {
  padding: 20px 50px;
  border-radius: 8px;
  background: #eee;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
}

.events {
  width: 45%;
  margin: 10px 10px 10px 20px;
}

.pdfs {
  width: 50%;
  margin: 10px 20px 10px 10px;
}

.pdf-icon {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
}

.pdf-description {
  font-size: 17px;
  padding-top: 11px;
  text-align: justify;
  color: #585858;
  font-size: 17px;
}

.pdf-container {
  margin-bottom: 10px;
}

.exec-link,
.final-link {
  width: 50%;
  font-size: 18px;
  background: #4cb5d3;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
}

.exec-link {
  margin: 5px 8px 0 0;
}

.final-link {
  margin: 5px 0 0 8px;
}

.exec-link .link,
.final-link .link {
  color: #fff;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px #575757;
}

.report-image,
.wab-kinew {
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
}

.report-image {
  float: left;
  width: 200px;
  height: auto;
  margin: 10px 15px 5px 0;
}

.wab-kinew {
  width: 188px;
  height: 243px;
}

.box-one {
  margin-bottom: 10px;
}

.box-two {
  padding: 5px 0 0 15px;
  color: #585858;
}

.box-two a {
  color: #4cb5d3;
  text-decoration: none;
}

.box-two a:hover {
  text-decoration: underline;
}

.box-two p {
  font-size: 17px;
}

.event-time {
  color: #4cb5d3;
}

.event-time h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.event-time p {
  padding: 5px 0;
  margin-bottom: 0 !important;
}

.final-link,
.exec-link {
  width: 50%;
  font-size: 18px;
  background: #4cb5d3;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  text-align: center;
}

.event-three h2 {
  color: red;
}

.home-three h2 {
  text-align: center;
  padding: 50px 0 20px;
  color: #fff;
  text-shadow: 2px 2px #575757;
}

.change-container {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}

.btn {
  padding: 4px 10px !important;
  border-color: #fff;
  background: #4cb5d3;
  color: #fff;
}

.btn:hover {
  padding: 4px 10px !important;
  background: #fff;
  color: #4cb5d3;
}

/* Timeline */

.home-four {
  padding: 30px 0;
}

.container-timeline {
  text-align: center;
  padding: 40px 0;
  background: #f7f7f7;
  line-height: 25px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.container-timeline h1 {
  color: #4cb5d3;
  padding: 0 0 80px;
  text-shadow: 2px 2px #cdcdcd;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

.main {
  width: 95%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em;
}
/* The line */
.timeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 10px;
  background: #a5ddf7;
  left: 20%;
}

/* The date/time */

.timeline > li .tmtime {
  display: block;
  width: 25%;
  padding-right: 90px;
  position: absolute;
}

.timeline > li .tmtime span {
  display: block;
  text-align: right;
}

.timeline > li .tmtime span:last-child {
  font-size: 26px;
  color: #2885c0;
}

.timeline > li:nth-child(odd) .tmtime span:last-child {
  color: #4cb5d3;
}

/* Right content */
.timeline > li .label {
  margin: -30px 0px 60px 25%;
  background: #2885c0;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.timeline > li:nth-child(odd) .label {
  background: #4cb5d3;
}

.timeline > li .label h2 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The triangle */
.timeline > li .label:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

.timeline > li:nth-child(odd) .label:after {
  border-right-color: #6cbfee;
}

/* The icons */
.timeline > li .icon {
  width: 40px;
  height: 40px;
  font-family: "ecoico";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #a5ddf7;
  text-align: center;
  margin: 0px 0px 0px 193px;
  z-index: 33;
  position: absolute;
}
